<h3>Datos Factores</h3>
    <table class="table table-hover"  >
        <thead>
            <tr>
              <th >id</th>
              <th >TipoFactores</th>
              <th >Areas</th> 
              <th >Descripciones</th>
              <th >Acciones</th>          
          </tr>
        </thead>
        <tbody><%= render @factores %></tbody>
        <tfoot>
           <tr>
              <td>
                <%= link_to image_tag('Crud/save.png'),  new_factor_path,  :remote => true %>
              </td>
            </tr>
        </tfoot>
    </table>
      