<h3>Datos Asignación P</h3>
    <table class="table table-hover"  >
        <thead>
            <tr>
              <th >id</th>
              <th >Estudiantes</th>
              <th >ObjetivoP</th> 
              <th >Acciones</th>      
          </tr>
        </thead>
        <tbody><%= render @asignares_proy %></tbody>
        <tfoot>
           <tr>
              <td>
                <%= link_to image_tag('Crud/save.png'),  new_asignar_proy_path,  :remote => true %>
              </td>
            </tr>
        </tfoot>
    </table>
      