<div class="modal-header">
  <button  class="close" onclick="$.lazybox.close()">&times;</button>
  <h3>Objetivos P</h3>
</div>
  <div class="modal-body">
    <table class="table table-striped table-condensed">
      <tr>
        <td><b class="pull-right">ID: </b></td>
        <td><%= @objsyproy.id %></td>
      </tr>
      <tr>
        <td><b class="pull-right">Nombres: </b></td>
        <td><%= @objsyproy.nombre %></td>
      </tr>
      <tr>
        <td><b class="pull-right">Departamento: </b></td>
        <td><%= @objsyproy.departamento_id %></td>
      </tr>
      <tr>
        <td><b class="pull-right">Descripciones: </b></td>
        <td><%= @objsyproy.descripcion %></td>
      </tr>
    </table>
    <div class="modal-footer">
      <a onclick="$.lazybox.close()">&times;</a>
    </div>           
</div>


