<h3>Datos Objetivos</h3>
    <table class="table table-hover"  >
        <thead>
            <tr>
              <th >id</th>
              <th >Nombres</th>
              <th >Departamentos</th>
              <th >Descripciones</th> 
              <th >Acciones</th>      
          </tr>
        </thead>
        <tbody><%= render @objsyproys %></tbody>
        <tfoot>
           <tr>
              <td>
                <%= link_to image_tag('Crud/save.png'),  new_objsyproy_path,  :remote => true %>
              </td>
            </tr>
        </tfoot>
    </table>
      