<h3>Datos Empresas</h3>
    <table class="table table-hover"  >
        <thead>
            <tr>
              <th >id</th>
              <th >Nombres</th>
              <th >Nit</th>
              <th >Dv</th>  
              <th >Direccion</th> 
              <th >Telefono</th>
              <th >Fax</th>
              <th >Email</th>  
              <th >PaginaWeb</th>     
          </tr>
        </thead>
        <tbody><%= render @empresas %></tbody>
        <tfoot>
           <tr>
              <td>
                <%= link_to image_tag('Crud/save.png'),  new_empresa_path,  :remote => true %>
              </td>
            </tr>
        </tfoot>
    </table>
      