/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require lazybox
 *= require_self
 *= require_tree .
 */


body{
  width: 100%;
  height: 710px;
color: #080D0B;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #DDE0DE;
  *background-color: #DDE0DE;
  background-image: -moz-linear-gradient(top, #FCFFFD, #DDE0DE);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FCFFFD), to(#DDE0DE));
  background-image: -webkit-linear-gradient(top, #FCFFFD, #DDE0DE);
  background-image: -o-linear-gradient(top, #FCFFFD, #DDE0DE);
  background-image: linear-gradient(to bottom, #FCFFFD, #DDE0DE);
  background-repeat: repeat-x;
  border-color: #DDE0DE;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFFFD', endColorstr='#DDE0DE', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
/*background: #D0D0D0url('Principal.jpg') repeat fixed top center;*/

}

#lazybox div.user{ 
  max-width: 700px; 

}

.lazybox {
  background: transparent !important;
}

#lazybox_close.img {
  background: url('close.png') no-repeat;
  width: 30px;
  height: 30px;
  top: -22px;
  right: -17px;
}

#lazybox.sticker {
  -webkit-border-bottom-left-radius: 20px 500px;
  -webkit-border-bottom-right-radius: 500px 30px;
  -webkit-border-top-right-radius: 5px 100px;
  -moz-border-radius-bottomleft: 20px 500px;
  -moz-border-radius-bottomright: 500px 30px;
  -moz-border-radius-topright: 5px 100px;
  border-radius-bottomleft: 20px 500px;
  border-radius-bottomright: 500px 30px;
  border-radius-topright: 5px 100px;
  border-bottom-left-radius: 20px 500px;
  border-bottom-right-radius: 500px 30px;
  border-top-right-radius: 5px 100px;
}

#lazybox.top {
  border-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}

#lazybox.player {
  background: transparent;
  border: none;
  box-shadow: none;
}

select{
  width: 25%;
  height: 30px;
}

input#buscar{
  height: 30px;
  width:70%;
  margin-top: 15px;
}

button#buscar{
  height: 30px;
  width:15%;
  margin-top: 15px;
}
li#buscar{
  
  margin-top: 15px;
}
div#example{
  margin-top: -120px;
}

#pagination{
  text-align: center;
}

#fond{
  background: #fcf8e3;

}

#admin{
  margin-top: -130px;
}

#fondadmin{
  color: #444544;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #DBDBDB;
  *background-color: #DBDBDB;
  background-image: -moz-linear-gradient(top, #FFFFFF, #DBDBDB);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#DBDBDB));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #DBDBDB);
  background-image: -o-linear-gradient(top, #FFFFFF, #DBDBDB);
  background-image: linear-gradient(to bottom, #FFFFFF, #DBDBDB);
  background-repeat: repeat-x;
  border-color: #DBDBDB;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DBDBDB', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  
}

#ad{
 margin-top: -130px;
  
}